body {
  background-image: url('download.jpg');
  background-repeat: no-repeat;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar {
    background-color: #93beb4;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #5a6f6a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #93beb4;
    color: #5a6f6a;
}

ul {
  list-style-type: none;
}

.vid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}